* {
    margin: 0;
    padding: 0;

}

.app-container {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.icon-wrapper {
    fill: rgb(104, 104, 104);
}

.input-container {
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 25px;
}

.input-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    font-size: medium;
    text-align: left;
    text-indent: 15px;
}

.input-field {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.task-field {
    width: 25%;
    height: 32px;
}

.save-button {
    width: 25%;
    height: 38px;
    background-color: white;
    border-style: none;
    border: 1px solid gray;
    vertical-align: auto;
}

.management-container {
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.today-list {
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 25px;
}

.tomorrow-list {
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 25px;
}



.icon-wrapper {
    display: flex;
    flex-direction: column;
}