<h1>Webler Exam App</h1>

<div class="container">
    <div class="input-container">
        <div class="input-header">Add new task</div>
        <div class="input-field">
            <input type="text" palceholder="Describe task" />
            <input type="radio" id="today-radio" name="schedule" />
            <label for="today-radio">Today</label>
            <input type="radio" id="tomorrow-radio" name="schedule" />
            <label for="today-radio">Tomorrow</label>
            <button type="button">Save</button>
        </div>
    </div>
    <div class="management-field">
        <div class="today-list">

        </div>
        <div class="button-field">

        </div>
        <div class="tomorrow-list">

        </div>

    </div>


</div>